*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.MuiTooltip-tooltip, .MuiTooltip-tooltipPlacementTop ,.css-ja5taz-MuiTooltip-tooltip {
  background-color: #fff !important;
  color: black !important;
  z-index: 1 !important;
  user-select: none;
}
.MuiTooltip-popper ,.MuiTooltip-popperInteractive ,.css-yem0l2-MuiPopper-root-MuiTooltip-popper {
  z-index: 1 !important; 
}
.css-187mznn-MuiSlider-root, .MuiSlider-colorPrimary ,.MuiSlider-sizeMedium ,.MuiSlider-root ,.css-exkjcx {
  color: #2d2d2d !important;
}
::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.web-open {
  animation-name: w-open;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; 
}
.mobile-close {
  animation-name: m-close;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.mobile-open {  
  animation-name: m-open;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes w-open-130 {
  from {max-height: 0px;min-height: 0px;opacity: 0;}
  to {max-height: 130px;min-height: 130px;opacity: 1;}
}
@keyframes w-open {
  from {max-height: 0px;min-height: 0px;opacity: 0;}
  to {max-height: 500px;min-height: 500px;opacity: 1;}
}
@keyframes m-close {
  from {max-height: 250px;min-height: 250px;opacity: 1;}
  to {max-height: 0px;min-height: 0px;opacity: 0;}
}
@keyframes m-open {
  from {max-height: 0px;min-height: 0px;opacity: 0;}
  to {max-height: 250px;min-height: 250px;opacity: 1;}
}
@media (max-width: 1000px) {
  .web-open {
    animation-name: w-open-150;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
  } 
}